## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## Rider / JetBrains
.idea/
*.sln.iml

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## WebView2
*.exe.WebView2/

## Installer output
dist/
